html{
    height: 100%;
}

@font-face {
    font-family: 'Uindbase';
    src: url('../fonts/UF1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Usually';
    src: url('../fonts/Usually-font-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Rosario';
    src: url('../fonts/rosario/Rosario.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


body{
    background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);

    /* background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%); */
    height: 100%;

    font-family: 'Uindbase';
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
}

a{
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.flexB{
    display: flex;
    justify-content: space-between;
}
.messanger{
    margin-right: 10px;
}

.telegram a{
    width: 19px;
    height: 15px;
    background: url("../img/messanger_icons/telegram.svg") no-repeat;
}
.vk a{
    width: 26.35px;
    height: 15px;
    background: url("../img/messanger_icons/vk.svg") no-repeat;
}
.insta a{
    width: 19px;
    height: 19px;
    background: url("../img/messanger_icons/insta.svg") no-repeat;
}


.container{
    max-width: 1568px;
    margin: 0 auto;
}
/* Header */

.header{
    padding-top: 43px;

    margin-bottom: 135px;
}

.nav{
    padding-left: 105px;
}
.nav .logo{
    margin-right: 57px;
}

.nav_list_item{
    display: flex;
    align-items: center;

    margin-right: 46px;
}
.nav_link{
    font-size: 20px;
    line-height: 12px;
}

.nav_link:hover{
    color: #D1C12B ;
}

.messanger_list{
    display: flex;
    align-items: center;

    padding-right: 21px;
}


/* HOME */

.home_section{
    margin-bottom: 214px;
}

.home_container{
    text-align: center;
}

.everyone_text_wrapper {
    position: relative;
    font-family: 'Usually', sans-serif;

    margin-bottom: 72px;
}

.back_text {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    color: rgba(255, 255, 255, 0.1); 
    font-size: 72px;
    letter-spacing: 10px;

    font-size: 170px;
    line-height: 148.07px;

}

.front_text {

    font-size: 130px;
    font-weight: 700;
    line-height: 113.23px;
    /* text-align: center; */

    text-shadow: 
    3px 3px 5px #A332CA,   /* Фиолетовая тень */
    -4px -1px 2px #D1C12B; /* Жёлтая тень */
}


.everyday{
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;

    margin-bottom: 173px;
}
.catalog{
    display: flex;
    justify-content: flex-end;
    margin-right: 243px;
}
.catalog_btn{
    font-family: 'Rosario', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.24px;
    color: #D1C12B;

    background-color: inherit;
    border: 2px solid #D1C12B;
    border-radius: 30px;
    padding: 12px 36px 12px 77px;

    background: url("../img/logo/mini_logo.svg") no-repeat;
    background-position: 30px center;
}  


/* CURRENT SEASON */

.current_season_section{
    margin-bottom: 28px;
}



.current_season_container{
    padding-top: 72px;
}


.current_season_text_wrapper{
    position: relative;
    font-family: 'Usually', sans-serif;

    margin-bottom: 28px;
}
.current_s_back_text{
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 0.1); 
    font-size: 140px;
    font-weight: 700;
    line-height: 160px;

}
.current_s_front_text{
    position: relative;
    font-family: 'Uindbase';
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    padding-top: 42px;
}

.collection_block {
    position: relative;
    width: 100%;
    max-width: 1248px;
    margin-left: 13%; 
    margin-bottom: 80px;
  }
  
.collection_image {
    width: 100%; 
    height: auto;
}
  
.collection_content {
    max-width: 300px;
    position: absolute;
    right: 100px;
    bottom: 162px;
    color: white;
    text-align: center;
}
  
.collection_description {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;

    margin-bottom: 15px;
}

/* ACTUALS */

.actual_section{
    /* margin-bottom: 50px; */
}


.actual_text_wrapper{
    position: relative;
    font-family: 'Usually', sans-serif;

    margin-bottom: 90px;
}
.actual_back_text{
    position: absolute;
    bottom: 0;
    color: rgba(255, 255, 255, 0.1); 
    font-size: 160px;
    font-weight: 700;
    line-height: 160px;
    text-align: right;
    letter-spacing: 10px;

}
.actual_front_text{
    position: relative;
    font-family: 'Uindbase';
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-align: right;
    padding-top: 42px;
}

.actuals_list{
    width: 100%;
    max-width: 1248px;
    margin-left: 13%; 
    margin-bottom: 80px;
}


.actual_list_item *{
    max-width: 272px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.actual_img{
    width: 100%;
    height: 373px;
    object-fit: cover;
}
.price_and_basket{
    padding: 0 10px;
}
.see_more{
    max-width: 1248px;
    text-align: end;
    margin-left: 13%;
    margin-bottom: 50px;
}
/* CONTACTS */
.contacts{
    margin-bottom: 71px;
}


.contacts_text_wrapper{
    position: relative;
    font-family: 'Usually', sans-serif;

    margin-bottom: 55px;
}
.contacts_back_text{
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 0.1); 
    font-size: 180px;
    font-weight: 700;
    line-height: 160px;

}
.contacts_front_text{
    position: relative;
    font-family: 'Uindbase';
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    padding-top: 30px;
}

.map_container {
    position: relative;
    width: 1000px;
    min-height: 549px;
    max-width: 100%;
    /* margin: 0 auto; */
}

.map_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
iframe{
    filter: grayscale(100%) invert(92%) contrast(83%);
}

.contacts_content_block{
    align-items: center;

font-size: 25px;
font-weight: 400;
line-height: 25px;
text-align: left;

}
.contacts_text_block{
    text-align: center;
}
.number, .email{
    margin-bottom: 25px;
}
.contacts_text_block ul{
    justify-content: center;
}

/* FOOTER */

.footer{
    padding-top: 39px;
    padding-bottom: 64px;
    background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);

}

.footer_container{
    max-width: 1602px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_container * {
    font-family: 'Rosario', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18.18px;
}
.logo_and_info img{
    margin-bottom: 10px;
}
.year_and_name{
    padding: 0 18px 0 38px ;
}




@media (max-width: 1704px) {
    /* FOR EVERYONE HOME*/
    .home_section{
        margin-bottom: 64px;
    }
    .back_text{
        font-size: 8em;
    }
    .front_text{
        font-size: 6.25em;
        margin: 0 auto;

        padding-top: 30px;
    }

    .everyone_text_wrapper{
        margin-bottom: 0;
    }


    /* CURRENT SEASON */
    

    .current_season_container{
        padding-top: 0;
        max-width: 1248px;
    }
    .current_season_text_wrapper{
        margin-bottom: 96px;
    }

    .current_s_back_text{
        font-size: 180px;
        font-weight: 700;
        line-height: 160px;
        text-align: left;

    }
    .current_s_front_text {
        padding-top: 78px;
    }
    .collection_block{
        margin-left: 0;
    }

    /* ACTUAL */

    .actual_container{
        max-width: 1248px;
    }

    .actuals_list{
        margin-left: 0;
    }
    .actual_text_wrapper{
        margin-bottom: 161px;
    }
    .actual_back_text{
        max-width: 1248px;
        top: 0;
    }
    .actual_front_text{
        padding-top: 63px;
    }
    .contacts_container{
        max-width: 1248px;
    }
    /* CONTACTS */
    .contacts{
        margin-bottom: 64px;
    }

    .contacts_back_text{
        font-size: 160px;
        line-height: 160px;
    }
    .contacts_front_text{
        font-size: 60px;
        line-height: 60px;

        padding-top: 68px;
    }
    .map_container{
        max-width: 834px;
        min-height: 425px;
    }
}

@media (max-width: 1611px){
    .front_text{
        max-width: 1162px;
    }
}