html{
    height: 100%;
}

@font-face {
    font-family: 'Uindbase';
    src: url('../fonts/UF1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Usually';
    src: url('../fonts/Usually-font-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Rosario';
    src: url('../fonts/rosario/Rosario.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


body{
    background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);
    height: 100%;

    font-family: 'Uindbase';
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
}

a{
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.flexB{
    display: flex;
    justify-content: space-between;
}
.messanger{
    margin-right: 10px;
}

.telegram a{
    width: 19px;
    height: 15px;
    background: url("../img/messanger_icons/telegram.svg") no-repeat;
}
.vk a{
    width: 26.35px;
    height: 15px;
    background: url("../img/messanger_icons/vk.svg") no-repeat;
}
.insta a{
    width: 19px;
    height: 19px;
    background: url("../img/messanger_icons/insta.svg") no-repeat;
}


.container{
    max-width: 1568px;
    margin: 0 auto;
}
/* Header */

.header{
    padding-top: 43px;

    margin-bottom: 135px;
}

.nav{
    padding-left: 105px;
}
.nav .logo{
    margin-right: 57px;
}

.nav_list_item{
    display: flex;
    align-items: center;

    margin-right: 46px;
}
.nav_link{
    font-size: 20px;
    line-height: 12px;
}

.nav_link:hover{
    color: #D1C12B ;
}

.messanger_list{
    display: flex;
    align-items: center;

    padding-right: 21px;
}


/* HOME */

.home_section{
    margin-bottom: 214px;
}

.home_container{
    text-align: center;
}

.everyone_text_wrapper {
    position: relative;
    font-family: 'Usually', sans-serif;

    margin-bottom: 72px;
}

.back_text {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    color: rgba(255, 255, 255, 0.1); 
    font-size: 72px;
    letter-spacing: 10px;

    font-size: 170px;
    line-height: 148.07px;

}

.front_text {

    font-size: 130px;
    font-weight: 700;
    line-height: 113.23px;
    /* text-align: center; */

    text-shadow: 
    3px 3px 5px #A332CA,   /* Фиолетовая тень */
    -4px -1px 2px #D1C12B; /* Жёлтая тень */
}


.everyday{
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;

    margin-bottom: 173px;
}
.catalog{
    display: flex;
    justify-content: flex-end;
    margin-right: 243px;
}
.catalog_btn{
    font-family: 'Rosario', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.24px;
    color: #D1C12B;

    background-color: inherit;
    border: 2px solid #D1C12B;
    border-radius: 30px;
    padding: 12px 36px 12px 77px;

    background: url("../img/logo/mini_logo.svg") no-repeat;
    background-position: 30px center;
}  


/* CURRENT SEASON */

.current_season_container{
    padding-top: 72px;
}


.current_season_text_wrapper{
    position: relative;
    font-family: 'Usually', sans-serif;

    margin-bottom: 72px;
}
.current_s_back_text{
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 0.1); 
    font-size: 140px;
    font-weight: 700;
    line-height: 160px;

}
.current_s_front_text{
    position: relative;
    font-family: 'Uindbase';
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    padding-top: 42px;

}