/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
    
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  button{
    border: none;
    cursor: pointer;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* list */
  ul,ol {
    list-style: none;
    padding-left: 0;
  } 
  

body{
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  /* background: url("img/header_back.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
}



.last_child{
  margin-right: 0;
}

.main_cont{
  max-width: 1148px;
  margin: 0 auto;
  
}

.header_img{
  background: url("img/header_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 124px;
}

.header{
  color: #ffffff;
  padding-bottom: 344px;
  background-color: rgba(52, 52, 52, 0.6);
  padding-top: 32px;
}

.nav{
  padding: 12px 146px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 165px;
}
.nav_list{
  display: flex;
  justify-content: space-between;
}
.nav_list_item{
  margin-right: 32px;
}
.nav_list_item:nth-child(4){
  margin-right: 57px;
}
.last_child{
  margin-right: 0;
}

.nav_link{
  color: #ffffff;
  text-decoration: none;
}

.home_text{
  max-width: 660px;
  margin: 0 auto;
  text-align: center;
}

.get_quote{
  background-color: #FF4D01;
  padding: 25px 38px;
  color: #ffffff;
}

.avg_btn{
  background-color: inherit;
  padding: 27px 40px;
  font-size: 18px;
  line-height: 20px;
  border: 2px #191919 solid;
}

.nav_list_item .get_quote{
  padding: 17px 24px;
  font-size: 16px;
  line-height: 18px;
}

.h1{
  font-size: 72px;
  font-weight: 400;
  line-height: 84px;
  text-align: center;
  margin-bottom: 16px;
}
.home_desc{
  margin-bottom: 35px;
}

.home_btns *{
  margin-right: 28px;
  
}

.home_text .home_btns .avg_btn{
  border: 2px solid #ffffff;
  color: #ffffff;
}
.flexB{
  display: flex;
  justify-content: space-between;
}
.about_us{
  margin-bottom: 300px;
}

.about_us_text_block{
  max-width: 596px;
  padding-top: 40px;
}

.section_name{
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #FF4D01;
  margin-bottom: 15px;
}


.section_heading{
  font-size: 54px;
  font-weight: 400;
  line-height: 61px;
  margin-bottom: 19px;
  color: #191919;
}

.section_text{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #605E5D;
}

.about_us_text{
  margin-bottom: 57px;
}
.stats{
  margin-bottom: 49px;
}
.stats_item{
  text-align: center;
}

.big_stat, .big_stat2{
  font-size: 72px;
  font-weight: 400;
  line-height: 84.02px;
  color: #191919;
}
.big_stat::first-letter{
  color: #FF4D01;
}
.big_stat:nth-child(2){
  color: #191919;
}
.Ystyle{
  color: #FF4D01;
}

.service_heading{
  align-items: center;
  margin-bottom: 64px;

}

.service_text_block{
  max-width: 424px;
}

.home_btns .avg_btn{
  color: #191919;
  border: 2px #191919 solid;
}

.service{
  margin-bottom: 220px;
}

.service_list{
  flex-wrap: wrap;
}
.service_card{
  max-width: 364px;
}


.service_card{
  padding-top: 100px;
  margin-bottom: 80px;

  background-image: url("img/service_icons/IMAGE.svg");
  background-repeat: no-repeat;
}

.service_card:nth-child(2){
  background-image: url("img/service_icons/IMAGE\ \(1\).svg");
}
.service_card:nth-child(3){
  background-image: url("img/service_icons/IMAGE\ \(2\).svg");
}
.service_card:nth-child(4){
  background-image: url("img/service_icons/IMAGE\ \(3\).svg");
}
.service_card:nth-child(5){
  background-image: url("img/service_icons/IMAGE\ \(4\).svg");
}
.service_card:nth-child(6){
  background-image: url("img/service_icons/IMAGE\ \(5\).svg");
}



.card_heading{
font-size: 34px;
font-weight: 400;
line-height: 48.01px;

margin-bottom: 14px;
}

.card_desc{
  margin-bottom: 12px;
  max-width: 335px;
}
.black_box{
  width: 30px;
  height: 30px;
  background-color: #191919;
  margin-right: 10px;
  display: inline-block;
}
.more{
  display: flex;
  padding: 4px 0;
  text-decoration: none;
  color: #191919;
}

.trigger_back{
  background: url("img/get_quote.png") no-repeat;
  background-size: cover;
  padding: 116px 0;

}
.trigger{
  max-width: 1148px;
  margin: 0 auto;
}
.trigger_text_block{
  max-width: 611px;
}
.trigger_desc{
  margin-bottom: 35px;
}

.why_us_back{
  background: url("img/cube.svg") no-repeat;
  background-position: top;
  padding-top: 274px;
  margin-bottom: 170px;
}

.why_us_cont{
  flex-wrap: wrap;
}
.why_us_card{
  max-width: 534px;
  margin-bottom: 100px;
} 

.whyUs_text_block{
  padding-top: 48px;
}
.whyUs_text_block h2 {
  /* max-width: 473px; */
}

.whyUs_text_block p {
  margin-bottom: 20px;
}

.benefits{
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 26px;

  background: url("img/benefitsIcon.svg") no-repeat left;

  margin-bottom: 19px;
}

.stat_decs{
  color: #989899;
}

.why_us_stats{
  display: flex;
}

.why_us_stats_item{
  margin-right: 40px;
}

.past_projects{
  margin-bottom: 240px;
}


.projects_text_block{
  max-width: 602px;

}
.projects_list{
  margin-bottom: 66px;
}
.projects_card{
  max-width: 545px;
  padding: 300px 30px 30px 30px;

  background: url("img/past_project1.png") no-repeat;

}
.projects_card:nth-child(2){
  background: url("img/past_project2.png") no-repeat;

}

.project_card_heading{
  display: inline-block;
  color: #ffffff;
  max-width: 361px;

}

.project_card_desc{
  color: #EAEAEB;
  margin-bottom: 43px;
}

.projects_hr{
  color: #989899;
  margin-bottom: 34px;
}

.project_goal{
  padding-left: 54px;
  color: #EAEAEB;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  background: url("img/projects_rect_icon.svg") no-repeat left;
}

.projects_slider_swipers{
  display: flex;
  justify-content: center;
}

.swiper{
  width: 72px;
  height: 72px;
}

.testimonials{
  margin-bottom: 220px;
}

.testimonials_list_item{
  max-width: 790px;
}
.testimonials_image_block{
  width: 340px;
  margin-right: 34px;
}

.testimonials_text_block{
  max-width: 362px;
  padding-top: 28px;
}

.testimonials_header{
  color: #191919;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;

  margin-bottom: 13px;
}

.testimonials_text_block .section_text{
  color: #989899;
  margin-bottom: 33px;
}
.author{
  display: block;
}
.author_name{
  color: #191919;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 6px;
}
.author_address{
  color: #989899;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.01px;
}

.swiper_rectangle{
  width: 32px;
  height: 32px;
  background-color: #FF4D01;
}


.blog{
  margin-bottom: 72px;
}
.blog_heading{
  margin-bottom: 66px;
}

.focused_content{
  max-width: 562px;
}
.focused_content_img{
  margin-bottom: 27px;
}

.focused_content_heading{
  color: #191919;
  font-size: 34px;
  font-weight: 400;
  line-height: 48.01px;
  margin-bottom: 8px;
}

.content_time{
  padding-left: 31px;
  color: #605E5D;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.secondary_cards{
  max-width: 562px;
}

.blog_card_block{
  margin-bottom: 31px;
}
.blog_card_block:last-child{
  margin-bottom: 0;
}
.secondary_text_block{
  padding-top: 15px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 24px;
  max-width: 314px;
}

.secondary_content_heading{
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  color: #191919;
  margin-bottom: 18px;
}
.footer_section{
  background-color: #000000;
}

.footer_main_div{
  margin-left: 122px;
  margin-right: 122px;
}

.footer_top_left{
  /* margin-right: 60px; */
}

.footer_top_div{

  padding-top: 120px;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 128px;

  display: flex;
  justify-content: space-between;
}

.footer_left_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #EAEAEB;

  max-width: 175px;

  margin-top: 63px;
  margin-right: 27px;
  margin-bottom: 35px;
}

.footer_left_inner_div{
  display: flex;
  margin-bottom: 79px;
}

.footer_square_div{
  width: 36px;
  height: 36px;
  background-color: #FF4D01;
  margin-right: 16px;
}

.footer_h3{
  font-family: Barlow;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;

  color: #FFFFFF;
}

.footer_top_center_left_li{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: #EAEAEB;
}

.footer_top_center_left_ul{
  list-style: none;
  padding-left: 0;
}

.footer_top_center_left_ul:first-child{
  margin-right: 28px;
}

.footer_top_center_left_list_div{
  display: flex;
}

.footer_h3{
  margin-bottom: 40px;
}

.menu_class{
  margin-right: 222px;
}

.footer_top_center_left_li{
  margin-bottom: 17px;
}

.footer_top_center_right_li{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: #EAEAEB;

  margin-bottom: 17px;
}

.footer_top_center_right_ul{
  list-style: none;
  padding-left: 0;
}

.footer_contact_us_div{
  border: 2px solid #FF4D01;
  width: 290px;
  height: 107px;
  display: flex;
  padding-top: 29px;
  padding-left: 27px;

  margin-bottom: 18px;
}

.footer_image{
  width: 48px;
  height: 48px;
}

.footer_contact_us_inner_div{
  margin-left: 16px;
}

.footer_contact_us_inner_p{
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  color: #FFFFFF;
}

.bottom_left_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #989899;
}

.bottom_left_p_white{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #FFFFFF;
}

.bottom_left_p_orange{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #FF4D01;
}

.footer_bottom_div{
  display: flex;
  justify-content: space-between;

  padding-left: 56px;
  padding-right: 56px;
}

.bottom_right{
  display: flex;
}

